@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.encours {
  display: none;
}
section.container {
  padding: 1rem;
}
.install {
  display: none;
  float: right;
}
.update {
  display: none;
}
.reset,
.reset-day,
.update {
  float: left;
  margin-right: 1em;
}
.main-content {
  height: calc(100vh - 320px) !important;
}
.footer {
  height: 80px !important;
}
.table td {
  font-size: 11px;
}
.settings {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 2rem;
}
.objectif {
  margin-bottom: 1rem;
}
@media screen and (min-width: 640px) {
  .encours {
    float: left;
  }
  .legend {
    max-width: 50%;
    float: right;
  }
}
